.bottom-space {
    margin-bottom: 25px;
}

.numberCircle {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    color: white;
    border: 4px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-bottom: 25px;
}